.container {
    border: 1px solid black;
}

.row {
    border: 3px solid red;
}

.col {
    border: 3px solid green;
}

.col-3 {
    border: 2px solid green;
}

.col-4 {
    border: 2px solid green;
}