.container {
    margin-top: 5px;
    padding: 15px;
}

.acme {
    font-size: 30px;

}

.college {
    font-size: 20px;
}

.clg-name {
    font-size: 25px;
}

.right {
    text-align: right;
}

.nav {
    font-size: 50px;
}

.basicinfo {
    background: peachpuff;
}

.basic-info {
    font-size: 20px;

}

.fullname {
    font-size: 20px;
    margin-top: 10px;
}

.font {
    font-size: 11px;
}

.numberyear {
    margin-top: 20px;
    font-size: 20px;
}

.degreemail {
    margin-top: 20px;
    font-size: 20px;
}

.eg {
    color: red;
}

.incoming {
    margin-left: 12px;
}

.submit {
    margin-top: 20px;
    width: 200px;
}